.LoadingModalContainer{
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 10% 0%;
    margin-top: 50%;
    margin-bottom: 50%;
    margin-left: 15%;
    background-color: white;
    border-radius: 10px;
    width: 70%;
    height: 40%;
}
.dot-flashing{
    align-self: center;
    color: black;
    margin-top: 5%;
}
.Loading{
    background-color:red;
}